



/* Definimos Variables */
:root {
    --rosaFuerte: #FF2A68;
    --rosaClaro: #FFB6C1;
}


/* Estilos HTML Mochilas */
h2 {
    text-align: center;
}

.h2MochilaTotebag {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--rosaFuerte);
    color: white;
    font-size: 20px;
}

/* Alineamos y editamos los Div de las compras exclusivas */

.compraExclusivah2 {
    color: var(--rosaFuerte);
    font-size: 40px;
    text-decoration: underline;
    margin: 4px;
}

.compraExclusiva {
    display: flex;
    flex-direction: column;
}

.compraExclusiva div {
    text-align: center;
    color: var(--rosaFuerte);
    border: 2px solid var(--rosaFuerte);
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.compraExclusiva div h3 {
    background-color: var(--rosaFuerte);
    color: white;
    padding: 10px;
    font-weight: bold;
}

.compraExclusiva div img {
    width: 50%;
}

.carousel-item .compra {
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos HTML Servicios */

/* Estilo de Servicios */
.serviciosP {
    text-align: center;
    color: var(--rosaFuerte);
    font-weight: bold;
}

.servicios {
    margin: 5%;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.servicios div p span {
    color: var(--rosaFuerte);
}

.personalizacion {
    border: 5px solid var(--rosaFuerte);
    justify-items: center;
    text-align: center;
    align-content: center;
    padding: 10px;
    border-radius: 10%;
}

.personalizacion img {
    width: 100%;
}

.mantenimiento {
    border: 5px solid var(--rosaFuerte);
    margin-top: 5%;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
}

.mantenimiento img {
    width: 100%;
}

.estilo {
    border: 5px solid var(--rosaFuerte);
    margin-top: 5%;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
}

.estilo img {
    width: 100%;
}

/* Estilo Certificado */
.certificado {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Estilos HTML Contacto */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 30px;
    color: var(--rosaFuerte);
    font-weight: bold;
}

#btnForm {
    margin-top: 10px;
}

/* Media Query */
/* Desktop */
@media (min-width: 1024px) {

    /* Estilos Por defectos de todas las paginas */
    header {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto 1fr auto;
        align-items: center;
    }

    .logo a img {
        width: 10%;
    }

    .navbar {
        grid-column: 2/3;
        grid-row: 2/2;
        margin-top: -60px;
        background-color: transparent;
    }

    .navbar-collapse {
        background-color: transparent;
        border: none;
        place-self: start center;
    }

    .carrito {
        grid-column: 3/3;
        grid-row: 2/3;
        display: flex;
        justify-self: start;
    }

    .carrito svg {
        width: 10%;
        color: white;
    }

    .h1PB {
        grid-column: 1/-1;
        grid-row: 3;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .btnFooter {
        width: 10%;
    }

    /* Estilos Index */
    .carousel-item img {
        width: 400px;
        height: 400px;
    }

    .seccion-compra {
        flex-direction: row;
        gap: 200px;
        justify-content: center;
        margin-bottom: 10px;
    }

    .card-img-top {
        height: 400px;
    }

    /* Estilos Página Mochila */
    .compraExclusivah2 {
        font-size: 100px;
    }

    .compraExclusiva {
        flex-direction: row;
        justify-content: center;
    }

    .compraExclusiva div img {
        width: 400px;
        height: 400px;
    }

    .h2MochilaTotebag {
        font-size: 40px;
    }

    /* Estilos Página Servicios */
    .serviciosP {
        font-size: 40px;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-self: center;
    }

    .servicios div {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 20px;
    }

    .servicios div {
        max-width: 500px;
    }

    .servicios div.invertido {
        grid-template-columns: 1fr auto;
    }

    .servicios div.invertido img {
        order: 2;
    }
}