// Import Variables
@import "../utilidades/variables";
// Import Mixin
@import "../utilidades/mixin";

/*Estilos Mobile*/
/*Estilos Header*/
header {
    background: $color-rosaClaro;
    // @include grid(grid, 1fr, auto, 1fr, auto, auto);
    @include grid(grid, 1fr auto 1fr, repeat(2, auto));
    align-items: center;
    text-align: center;

    /*Estilos Logo - Navbar - Carrito - H1*/
    .logo {
        @include grid-column(1, -1);

        a {
            img {
                @include width(20%);
            }
        }
    }

    .navbar {
        @include grid-column(1, 2);
    }

    .navbar-collapse {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $color-rosaClaro;
        @include border(1px, solid, $color-negro);
        z-index: 10;
    }

    .nav-link {
        color: $color-blanco;
        font-family: "Afacad Flux", serif;
        font-weight: bold;
    }

    .nav-link:hover {
        color: $color-rosaFuerte;
    }

    .background-nav {
        background: $color-rosaClaro;
    }

    .carrito {
        @include grid-column(3, 3);

        svg {
            @include width(60%);
            color: $color-blanco;
        }
    }

    .h1PB {
        @include grid-column(2, 3);
        @include grid-row(2, 3);

        h1 {
            a {
                text-decoration: none;
                color: $color-blanco;
                @include font-size(50px);
            }
        }
    }
}

/* Estilos HTML Index - Mochilas - ToteBag - Servicios - Contacto*/
/* Estilos del Main - H2 - Carousel - Seccion Compra - Card - Botones - Footer*/
main {
    .subtitulo {
        color: $color-blanco;
        background: $color-rosaFuerte;
        @include font-size(20px);
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .carousel-item {
        img {
            @include width(200px);
            @include height(200px);
        }

        // HTML Mochila
        .compra {
            justify-items: center;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: $color-rosaFuerte;
    }

    .seccion-compra {
        @include flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 10px;
    }

    .card-img-top {
        @include height(100%);
        object-fit: cover;
    }

    .card-body {
        @include flex;
        text-align: center;
    }

    .btn-primary {
        @include general-BTN;
    }

    .btn-primary:hover {
        @include btn-hover($color-rosaClaro, $color-rosaFuerte);
    }

    // Estilo HTML Mochilas - ToteBag
    .h2MochilaTotebag {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: $color-rosaFuerte;
        color: $color-blanco;
        font-size: 20px;
    }

    .compraExclusivah2 {
        color: $color-rosaFuerte;
        font-size: 40px;
        text-decoration: underline;
        margin: 4px;
    }

    .compraExclusiva {
        @include flex;

        div {
            text-align: center;
            color: $color-rosaFuerte;
            @include border(2px, solid, $color-rosaFuerte);
            margin: 5px;
            padding: 5px;
            font-size: 20px;

            h3 {
                background-color: $color-rosaFuerte;
                color: $color-blanco;
                padding: 10px;
                font-weight: bold;
            }

            img {
                width: 50%;
            }
        }
    }

    // Estilo HTML Servicios
    .serviciosP {
        text-align: center;
        color: var(--rosaFuerte);
        font-weight: bold;
    }

    .servicios {
        margin: 5%;
        font-weight: bold;
        font-size: 20px;
        @include grid(grid, 1fr, 1fr 1fr 1fr);

        div {
            p {
                span {
                    color: $color-rosaFuerte;
                }
            }
            @include border(5px, solid, $color-rosaFuerte);
            margin-top: 5%;
            justify-items: center;
            align-content: center;
            text-align: center;
            padding: 10px;
            border-radius: 10%;
            img{
                width: 100%;
            }
        }
    }
    .certificado{
        @include flex;
        text-align: center;
    }
}
// Estilo HTML Contacto
.form {
    @include flex;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    div {
        @include flex;
        width: 300px;
        font-size: 30px;
        color: $color-rosaFuerte;
        font-weight: bold;
    }
    #btnForm {
        margin-top: 10px;
    }
}
/* Sección Footer */
footer {
    @include grid(grid, 1fr 1fr, 1fr);
    background: $color-rosaClaro;
    text-align: center;
    color: $color-blanco;

    .suscribirse {
        @extend .card-body;
        align-items: center;
    }

    .contactos {
        h4 {
            @include font-size(15px);
        }
    }

    .btnFooter {
        @include general-BTN;
    }

    .btnFooter:hover {
        @include btn-hover($color-blanco, $color-rosaFuerte);
    }
}